.about {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 450px;
}

.about .left p,
.what-i-do-list li {
    margin: 1.2rem 0;
}

.about .right p {
    max-width: 700px;
    margin: 1.2rem 0;
}

.buttonNav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.about .right {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.right .img-container,
.left .img-container {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.right .img {
    max-width: 60%;
    border-radius: 25px;
}

.left .img {
    max-width: 80%;
    border-radius: 25px;
}

@media screen and (max-width: 900px) {
}